@import 'common/css/variable.css';
@import 'common/css/bootstrap.css';
.header {
    background-color: #29292b;
    padding-right: 25px;
    padding-left: 0;
}
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    transition: background-color .3s;
    vertical-align: top;
}

.trigger:hover {
    background-color: rgba(0, 0, 0, .2);
}
.logo {
    color: #d8d9da;
    height: 64px;
    line-height: 64px;
    padding-left: 24px;
    background: #29292b;
    overflow: hidden;
    h1 {
        color: #d8d9da;
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
        margin: 0 0 0 12px;
    }
    img {
        display: inline-block;
        vertical-align: middle;
        height: 32px;
        width: 32px;
    }
}

.content {
    padding: 0 25px;
    background-color: #212225;
}
.main {
    padding: 24px;
    background-color: #212225;
    min-height: 280px;
}
.footer {
    color: #d8d9da;
    background-color: #212225;
    text-align: center;
}