@import 'common/css/variable.css';
.header {
    background-color: var(--deepColor);
    background-image: linear-gradient(143deg,#2945cb 20%,#2b83f9 81%,#3a9dff);
    padding-right: 25px;
    padding-left: 0;
}
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    transition: background-color .3s;
    vertical-align: top;
}

.trigger:hover {
    background-color: rgba(0, 0, 0, .2);
}
.logo {
    color: #fff;
    height: 64px;
    line-height: 64px;
    padding-left: 24px;
    background-color: var(--deepColor);
    overflow: hidden;
    h1 {
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
        margin: 0 0 0 12px;
    }
    img {
        display: inline-block;
        vertical-align: middle;
        height: 32px;
        width: 32px;
    }
}


.aidNav {
    line-height: 64px;
    display: inline-block;
    float: right;
    :global .anticon {
        font-size: 18px;
        margin: 0 16px;
        color: #fff;
        opacity: 1;
        
        &:hover {
            opacity: .69;
        }
    }
}

.content {
    height: 100vh;
    overflow: auto;
    padding: 0 25px;
}
.spin {
    :global .ant-spin {
        height: 100vh !important;
        max-height: 100vh!important;
    }
    :global .ant-spin-blur {
        opacity: 0.4!important;
    }
}