@import 'common/css/variable.css';
.header {
    background-color: #29292b;
    padding-right: 25px;
    padding-left: 0;
}
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    transition: background-color .3s;
    vertical-align: top;
}

.trigger:hover {
    background-color: rgba(0, 0, 0, .2);
}
.logo {
    color: #fff;
    height: 64px;
    line-height: 64px;
    padding-left: 24px;
    background: #29292b;
    overflow: hidden;
    h1 {
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
        margin: 0 0 0 12px;
    }
    img {
        display: inline-block;
        vertical-align: middle;
        height: 32px;
        width: 32px;
    }
}

.content {
    padding: 0 25px;
    background-color: #161719;
}
.main {
    padding: 24px;
    background-color: #161719;
    min-height: 280px;
}
.footer {
    color: #fff;
    background-color: #161719;
    text-align: center;
}
.spin {
    :global .ant-spin {
        height: 100vh !important;
        max-height: 100vh!important;
    }
    :global .ant-spin-blur {
        opacity: 0.4!important;
    }
}