@import 'common/css/variable.css';
.particles-js {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #f5f5f5;
    overflow: hidden;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 350px;
    height: auto;
}
.input {
    input {
        background-color: transparent;
        border: 1px #353538 solid;
        padding-left: 40px!important;
    }
}
.button {
    width: 100%;
}
.forgot {
    float: right;
}
.icon {
    color: rgba(0,0,0,.25);
    font-size: 18px;
}
.logo {
    text-align: center;
}
.img {
    height: 200px;
    vertical-align: top;
    margin-right: 16px;
}
.text {
    font-size: 33px;
    color: rgba(0,0,0,.85);
    font-family: "Myriad Pro","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-weight: 600;
    position: relative;
    top: 2px;
}