@import 'common/css/variable.css';
.nav {
    display: inline-block;
    line-height: 64px;
    color: #fff!important;
    font-size: 16px;
    background-color: transparent!important;
    :global .ant-menu-item {
        opacity: .69;
        transition: opacity .3s;
        cursor: pointer;
        margin-top: -4px;
        border-bottom-width: 4px!important;
    }
    :global .ant-menu-item-selected,
    :global .ant-menu-item-active {
        color: #fff;
        opacity: 1;
        position: relative;
        border-bottom-width: 4px;
        background-color: transparent!important;
        .anticon {
            color: #fff;
        }
    }
    :global .ant-menu-item-active {
        color: #fff!important;
        opacity: 1;
    }
    :global a {
        color: #fff!important;
        display: inline-block!important;
    } 
}