@import 'common/css/variable.css';
@import 'common/css/bootstrap.css';
.sider {
    height: 100%;
    font-size: 16px;
    :global .ant-menu-item-selected,
    :global .ant-menu-item-active {
        a {
            color: var(--lightColor);
        }
    }
    :global a {
        text-decoration: none;
    } 
}