@import 'common/css/variable.css';
.sider {
    height: 100%;
    font-size: 12px;
    :global .ant-menu-item-selected,
    :global .ant-menu-item-active {
        a {
            color: var(--lightColor);
        }
    }
    :global a {
        color: rgba(0, 0, 0, 0.65);
        text-decoration: none;
    } 
}