@import 'common/css/header.css';
:root {
    --bgColor: #222;
    --whiteColor: #fff;
}

/* css绘制三角形 */

@define-mixin triangle $width {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: $(width);
}

%nowrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.App {
    text-align: center;
}

.App-img {
    margin: auto;
    margin-top: 80px;
    width: width('img/test.png');
    height: height('img/test.png');
    background: resolve('img/test.png');
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: var(--bgColor);
    height: 150px;
    padding: 20px;
    color: var(--whiteColor);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        bottom: -16px;
        left: 50%;
        @mixin triangle 8px;
        border-top-color: var(--bgColor);
    }
}

.App-title {
    width: 200px;
    font-size: 1.5em;
    line-height: 100%;
    color: var(--whiteColor);
    @extend %nowrap;
}

.App-intro {
    font-size: large;
    margin-top: 50px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}